API_URL=
NEXT_PUBLIC_APP_URL=
# INTERNAL_API_URL=

DATABASE_URL=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
# BETTER_AUTH_URL=
# npx smee -u https://smee.io/mUOrEZBhbto6NE4L -t http://localhost:3000/api/webhooks/build-complete
# https://ttrantam.github.io/test-github-actions/21133781203/index.html

# Github
GITHUB_APP_ID=
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=
GITHUB_APP_PRIVATE_KEY=

GITHUB_WEBHOOK_SECRET=

GITHUB_PAT=
WIDGET_BUILDER_REPO=
WEBHOOK_SECRET=

# Supabase storage
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Cái này hình như không dùng nhưng mà cứ lưu vào
# BUILD_PRIVATE_REPO=

EXPO_URL=

NEXT_PUBLIC_TTS_ENDPOINT=
NEXT_PUBLIC_TTS_TIMEOUT_MS=